# PIC 16 - Discussion 2T
# About List Comprehension

---
## List Comprehension

In [ ]:
numbers = [1,2,3,4,5]

a = []
for n in numbers:
    if n % 2 == 1:
        a.append(n ** 2)

print a

In [ ]:
a = map(lambda n: n ** 2, filter(lambda n: n % 2 == 1, numbers))
print a

In [ ]:
a = [n ** 2 for n in numbers if n % 2 == 1]
print a

In [ ]:
colors = ["red", "blue", "green"]
objects = ["car", "pen", "desk", "chair"]

arr = []

for color in colors:
    for object in objects:
        arr.append((color, object))
        
print arr

In [ ]:
print [(color, obj) for color in colors for obj in objects]

## Problem

Make list comprehension that creates the Pythagorean triples

Output
```
(3, 4, 5), (5, 12, 13), (6, 8, 10), ...
```
All values are from 1 to 30

## Problem

Make list comprehension that creates a list of primes

Output: 
```
2, 3, 5, 7, ... , 97
```

Hint: Eliminate non primes

---
## Map

In [ ]:
def add_by_2(n):
    return n + 2

def multiply_by_3(n):
    return n * 3

numbers = [1,2,3,4,5,6]

add = map(add_by_2, numbers)
mul = map(multiply_by_3, numbers)

print add
print mul

In [ ]:
a = [1,2,3,4,5]
b = [16,13,23,62,1]
c = [17,15,26,66,6]

In [ ]:
a_minus_b = map(lambda x,y: x-y, a,b)
print a_minus_b

## Problem

Do the same thing with lambda

In [ ]:
numbers = [1,2,3,4,5,6]
add = map(WRITE DOWN YOUR CODE HERE, numbers)
mul = map(WRITE DOWN YOUR CODE HERE, numbers)

print add
print mul

## Problem

Create a list for **a + b - c** using map

In [ ]:
a = [1,2,3,4,5]
b = [16,13,23,62,1]
c = [12,3,20,6,16]

ans = WRITE DOWN YOUR CODE HERE
print ans

---
## Filters

In [ ]:
numbers = range(100)
print numbers

In [ ]:
odd = filter(lambda x: x % 2, numbers)
print odd

In [ ]:
odd = filter(lambda x: x % 2 != 0, numbers)
print odd

## Problem

Create a list of even numbers using filter

In [ ]:
even = WRITE DOWN YOUR CODE
print even

## Problem

Filters out multiples of 3 and 5

Output

```
1, 2, 4, 7, 8, 11, ...
```

In [ ]:
numbers = range(100)

num = WRITE DOWN YOUR CODE
print num

---
## Reduce

**Reduce** returns a single value

In [ ]:
arr = [47,11,42,13]

In [ ]:
reduce(lambda x,y: x+y, arr)

In [ ]:
reduce(lambda x,y: x-y, arr)

In [ ]:
ans = arr[0]
for i in range(1,4):
    ans -= arr[i]
    
print ans

## Problem

Use reduce to add from 1 through 100

Use reduce to multiply from 1 through 100

## Problem

Complete the **max_function** so that the output is **47**.

In [ ]:
arr = [47,11,42,13]

# Finding max
def max_function(x, y):
    WRITE DOWN YOUR CODE
    
# Don't modify below
result = reduce(max_function, arr)
print result

## Problem

Do the same thing with reduce and lambda