# PIC 16 - Discussion 2R
# 01/18/2018 Thursday

# MS 2330
# T 12 - 1
# R 1 - 2

# Questions in the last discussion

In [34]:
dic = {"PIC 16": 1, "Hello": 2, "MATH 1": 3, "aaa": 4, "efee": 5}

In [35]:
for key in dic:
    print key,":",dic[key]

print

# This is how you sort the dictionary
for key in sorted(dic, key=dic.__getitem__):
    print key,":",dic[key]

PIC 16 : 1
aaa : 4
Hello : 2
efee : 5
MATH 1 : 3

PIC 16 : 1
Hello : 2
MATH 1 : 3
aaa : 4
efee : 5

In [54]:
print "PIC 16:", hash("PIC 16")
print "Hello:", hash("Hello")
print "MATH 1:", hash("MATH 1")
print "aaa:", hash("aaa")
print "efee:", hash("efee")

print 

sort_dic = map(hash, ["PIC 16", "Hello", "MATH 1", "aaa", "efee"])

print sorted(sort_dic, key = lambda x: abs(x))

PIC 16: 1187289521365987803
Hello: 468330442038187741
MATH 1: 6513394702731445597
aaa: 1453079729189098340
efee: -4664238514726058277

[468330442038187741, 1187289521365987803, 1453079729189098340, -4664238514726058277, 6513394702731445597]

In [38]:
import hashlib
print hashlib.md5('PIC 16').hexdigest()
print hashlib.md5('Hello').hexdigest()
print hashlib.md5('MATH').hexdigest()
print hashlib.md5('aaa').hexdigest()
print hashlib.md5('efee').hexdigest()

4db1a0851414775fc1f16255c45dcd4a
8b1a9953c4611296a827abf8c47804d7
65571aa0536447fb1cf47a2b5a98954b
47bce5c74f589f4867dbd57e9ca9f808
ffc9f11de71bfa4ae448b31b085a33b9

---
## List Comprehension

In [1]:
numbers = [1,2,3,4,5]

In [2]:
a = []
for n in numbers:
    if n % 2 == 1:
        a.append(n ** 2)

print a

[1, 9, 25]

In [3]:
a = map(lambda n: n ** 2, filter(lambda n: n % 2 == 1, numbers))
print a

[1, 9, 25]

In [4]:
a = [n ** 2 for n in numbers if n % 2 == 1]
print a

[1, 9, 25]

## Problem

Make list comprehension that creates the Pythagorean triples

Output
```
(3, 4, 5), (5, 12, 13), (6, 8, 10), ...
```
All values are from 1 to 30

In [5]:
[(x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30) if x**2 + y**2 == z**2]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (10, 24, 26),
 (12, 16, 20),
 (15, 20, 25),
 (20, 21, 29)]

In [6]:
colors = ["red", "blue", "green"]
objects = ["car", "pen", "desk", "chair"]

In [7]:
print [(color, obj) for color in colors for obj in objects]

[('red', 'car'), ('red', 'pen'), ('red', 'desk'), ('red', 'chair'), ('blue', 'car'), ('blue', 'pen'), ('blue', 'desk'), ('blue', 'chair'), ('green', 'car'), ('green', 'pen'), ('green', 'desk'), ('green', 'chair')]

## Problem

Make list comprehension that creates a list of primes

Output: 
```
2, 3, 5, 7, ... , 97
```

Hint: Eliminate non primes

In [3]:
noprimes = [j for i in range(2, 8) for j in range(i*2, 100, i)]
print(noprimes)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [4]:
primes = [x for x in range(2, 100) if x not in noprimes]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

---
## Map

In [ ]:
def add_by_2(n):
    return n + 2

def multiply_by_3(n):
    return n * 3

numbers = [1,2,3,4,5,6]

add = map(add_by_2, numbers)
mul = map(multiply_by_3, numbers)

print add
print mul

In [ ]:
a = [1,2,3,4,5]
b = [16,13,23,62,1]
c = [17,15,26,66,6]

In [ ]:
a_minus_b = map(lambda x,y: x-y, a,b)
print a_minus_b

## Problem

Do the same thing with lambda

In [ ]:
numbers = [1,2,3,4,5,6]
add = map(lambda n: n + 2, numbers)
mul = map(lambda n: n * 3, numbers)

print add
print mul

## Problem

Create a list for **a + b - c** using map

In [18]:
a = [1,2,3,4,5]
b = [16,13,23,62,1]
c = [12,3,20,6,16]

ans = map(lambda x,y,z: x + y - z, a, b, c)
print ans

[5, 12, 6, 60, -10]

---
## Filters

In [ ]:
numbers = range(100)
print numbers

In [ ]:
odd = filter(lambda x: x % 2, numbers)
print odd

In [ ]:
odd = filter(lambda x: x % 2 != 0, numbers)
print odd

## Problem

Create a list of even numbers using filter

In [ ]:
numbers = range(100)

even = filter(lambda x: x % 2 - 1, numbers)
print even

In [ ]:
even = filter(lambda x: (x + 1) % 2, numbers)
print even

In [ ]:
even = filter(lambda x: x % 2 == 0, numbers)
print even

## Problem

Filters out multiples of 3 and 5

Output

```
1, 2, 4, 7, 8, 11, ...
```

In [14]:
numbers = range(100)

num = filter(lambda x: x % 3 and x % 5, numbers)
print num

[1, 2, 4, 7, 8, 11, 13, 14, 16, 17, 19, 22, 23, 26, 28, 29, 31, 32, 34, 37, 38, 41, 43, 44, 46, 47, 49, 52, 53, 56, 58, 59, 61, 62, 64, 67, 68, 71, 73, 74, 76, 77, 79, 82, 83, 86, 88, 89, 91, 92, 94, 97, 98]

In [15]:
num = filter(lambda x: x % 3 != 0 and x % 5 != 0, numbers)
print num

[1, 2, 4, 7, 8, 11, 13, 14, 16, 17, 19, 22, 23, 26, 28, 29, 31, 32, 34, 37, 38, 41, 43, 44, 46, 47, 49, 52, 53, 56, 58, 59, 61, 62, 64, 67, 68, 71, 73, 74, 76, 77, 79, 82, 83, 86, 88, 89, 91, 92, 94, 97, 98]

In [16]:
num = filter(lambda x: not (x % 3 == 0 or x % 5 == 0), numbers)
print num

[1, 2, 4, 7, 8, 11, 13, 14, 16, 17, 19, 22, 23, 26, 28, 29, 31, 32, 34, 37, 38, 41, 43, 44, 46, 47, 49, 52, 53, 56, 58, 59, 61, 62, 64, 67, 68, 71, 73, 74, 76, 77, 79, 82, 83, 86, 88, 89, 91, 92, 94, 97, 98]

---
## Reduce

**Reduce** returns a single value

In [ ]:
arr = [47,11,42,13]

In [ ]:
reduce(lambda x,y: x+y, arr)

In [ ]:
reduce(lambda x,y: x-y, arr)

In [ ]:
ans = arr[0]
for i in range(1,4):
    ans -= arr[i]
    
print ans

## Problem

Use reduce to add from 1 through 100

Use reduce to multiply from 1 through 100

In [ ]:
reduce(lambda x,y: x+y, range(1, 101))

In [ ]:
reduce(lambda x,y: x*y, range(1, 101))

## Problem

Do the same thing with reduce and lambda

In [ ]:
result = reduce(lambda x,y: x if x > y else y, arr)
print result

## Problem

Complete the **max_function** so that the output is **47**.

In [10]:
arr = [47,11,42,13]

# Finding max
def max_function(x, y):
    if x > y:
        return x
    else:
        return y

# Don't modify below
result = reduce(max_function, arr)
print result

47